/* Set for footer */
html, body {
	height: 100%;
}

/* Background page color */
body {
	background-color: lightsalmon;
}

/* Main navbar color/styling */
.navbar {
	background-color: lightpink;
	border-style: none;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: black;
}

/* Main logo/brand styling */
#navbar-logo {
	background-color: lightpink;
}

/* Main menu link styling */
#navbar-logo, #navbar-menu {
	background-color: lightpink;
	font-weight: bold;
	color: black;
}

/* Menu link text color */
.navbar-default .navbar-nav li a {
	color: black;
}

/* Menu link text color on hover! */
.navbar-default .navbar-nav li a:hover {
	color: hotpink;
	background-color: white;
}

/* Margin for profile picture in about section */
.gap-right {
  margin-right: 20px; 
}

/* Main content and connect section styling */
#container-content, #connect {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding: 20px;
	margin-bottom: 20px;
	background-color: white;
}

/* Connect Panel */
.panel-heading, .panel-body {
	text-align: center;
}

/* To keep Connect Panel links properly aligned*/
.contact-images, .panel-body {
	margin: 10px 0px 10px 0px;
	padding: 0px;
}

/* Connect Panel Links */
a:link, a:visited {
	color: black;
	text-decoration: none;
}

/* Connect Panel Links */
a:hover {
	color: hotpink;
	text-decoration: none;
}

/* Profile Picture styling */
#profile-pic {
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

/* Submit Button styling */
.btn-secondary {
	background-color: lightpink;
	color: black;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

/* Submit Button styling on hover! */
.btn-secondary:hover {
	background-color: hotpink;
	color: white;
}

/* Portfolio image styling */
.portfolio-image {
	padding: 0px 10px 0px 10px;
	position: relative;
}

/* Portfolio caption (background) - not working as well
as I'd like; the percentage thing is throwing me since
the images have padding (otherwise the side spacing looks
terrible); works well at full page width.
If I get rid of padding on the portfolio images, I can
change some things to make them fit properly (splitting
portfolio images into left/right), but then the images go
too close to the content window for my liking. This is a
bit of a double-edged sword but I'm going to leave this
version because it's closer to what I want this to eventually
look like, if still a ways off. */
.fig-caption {
	width: 93%;
	margin: 0px 10px 0px 10px;
	left: 0px;
	bottom: 10px;
	position: absolute;
	background-color: black;
	border-style-top: solid;
	border-style-bottom: solid;
	border-color: black;
	border-width: 1px;
}

/* Portfolio caption (background) on hover! */
.fig-caption:hover {
	background-color: white;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

/* Portfolio caption text styling */
.fig-caption h4 {
	color: #fff;
	text-align: center;
}

/* Portfolio caption text styling on hover! */
.fig-caption h4:hover {
	color: black;
}

/* To get rid of super ugly borders */
.thumbnail {
	border: none;
	margin: 0px;
	padding: 0px;
}

/* Spacing */
.row {
	margin-bottom: 10px;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0px auto -30px auto;
	/* Pad bottom by footer height */
	padding: 0px 0px 30px 0px;
}

/* Set the fixed height of the footer here; must relate
to #wrap sizing */
#footer {
	height: 30px;
	background-color: lightpink;
	border-top-style: solid;
	border-width: 1px;
	border-color: black;
}

/* Text specific to page footer */
#footer-text {
	padding: 5px 0px 0px 0px;
	font-size: 10px;
	line-height: 14px;
	text-align: center;
	font-weight: bold;
}