body {
	background-color: lightpink;
}

.navbar {
	background-color: white;
	border-style: none;
	border-bottom-style: solid;
	border-width: 2px;
	border-color: black;
}

#navbar-logo {
	background-color: ;
}

#navbar-logo, #navbar-menu {
	font-weight: bold;
}

li {
    display: inline;
}

.gap-right {
  margin-right: 20px; 
}

#container-content, #connect {
	border-style: solid;
	border-color: ;
	padding: 20px;
	margin-bottom: 20px;
	background-color: white;
}

.footer {
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: white;
    margin-top: 60px;
}

.navbar-brand, .navbar-nav {
	background-color: white;
	border-color: ;
}

.panel-heading, .panel-body {
	text-align: center;
}

.contact-images, .panel-body {
	margin: 10px 0px 10px 0px;
	padding: 0px;
}

a:link, a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	color: lightsalmon;
	text-decoration: none;
}

.btn-secondary {
	background-color: #FFFFFF;
	color: black;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.caption {
	width: 95%;
	bottom: 10px;
	position: absolute;
	background-color: black;
}

.portfolio-image {
	width: 95%;
	height: 95%;
}

.caption h4 {
	color: #fff;
	text-align: center;
}

.caption-right {
	left: 5%;
}

.thumbnail {
	border: none;
	margin: 0px;
	padding: 0px;
}

.row {
	margin-bottom: 10px;
}