html, body {
	height: 100%;
}

body {
	background-color: lightsalmon;
}

.navbar {
	background-color: lightpink;
	border-style: none;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: black;
}

#navbar-logo {
	background-color: lightpink;
}

#navbar-logo, #navbar-menu {
	background-color: lightpink;
	font-weight: bold;
	color: black;
}

#navbar-logo:hover, #navbar-menu;hover {
	color: hotpink;
	font-weight: bold;
}


li {
    display: inline;
   	color: black;
}

.gap-right {
  margin-right: 20px; 
}

#container-content, #connect {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding: 20px;
	margin-bottom: 20px;
	background-color: white;
}

.navbar-brand, .navbar-nav {
	background-color: white;
}

.panel-heading, .panel-body {
	text-align: center;
}

.contact-images, .panel-body {
	margin: 10px 0px 10px 0px;
	padding: 0px;
}

a:link, a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	color: hotpink;
	text-decoration: none;
}

.btn-secondary {
	background-color: #FFFFFF;
	color: black;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.btn-secondary:hover {
	background-color: lightpink;
}

.fig-caption {
	width: 93%;
	margin: 0px 10px 0px 10px;
	left: 0px;
	bottom: 10px;
	position: absolute;
	background-color: black;
	border-style-top: solid;
	border-style-bottom: solid;
	border-color: black;
	border-width: 1px;
}

.fig-caption:hover {
	background-color: white;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

.portfolio-image {
	padding: 0px 10px 0px 10px;
	position: relative;
}

.fig-caption h4 {
	color: #fff;
	text-align: center;
}

.fig-caption h4:hover {
	color: black;
}

.thumbnail {
	border: none;
	margin: 0px;
	padding: 0px;
}

.row {
	margin-bottom: 10px;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0px auto -30px auto;
	/* Pad bottom by footer height */
	padding: 0px 0px 30px 0px;
}

/* Set the fixed height of the footer here; must relate
to #wrap sizing */
#footer {
	height: 30px;
	background-color: lightpink;
	border-top-style: solid;
	border-width: 1px;
	border-color: black;
}

/* Text specific to page footer */
#footer-text {
	padding: 5px 0px 0px 0px;
	font-size: 10px;
	line-height: 14px;
	text-align: center;
	font-weight: bold;
}